pkgbase = ucantellme-git
	pkgdesc = A passphrase prompter.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.gc69c1e4
	pkgrel = 1
	url = https://github.com/themartiancompany/ucantellme
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = git
	depends = bash
	depends = libcrash-bash
	optdepends = python-pygments: colorized output
	optdepends = python2-pygments: colorized output
	provides = ucantellme=0.0.0.0.0.0.0.0.0.0.0.0.0.1.r0.gc69c1e4
	conflicts = ucantellme
	source = git+https://github.com/themartiancompany/ucantellme#branch=master
	sha256sums = SKIP

pkgname = ucantellme-git
